.container {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;

    &_title {
        color: #d1411e;;
    }

    &_price {
        color: gray;
        font-size: 16px;
        font-weight: 500;
    }

    &_desc {
        color: rgb(151, 150, 150);
        text-align: center;
    }

}

@media screen and ( max-width: 480px ) {
    .container {

        width: 100%;
        &_title {
            font-size: 30px;
        }

        &_price, &_desc {
            font-size: 24px;
        }
    }
}